# Ignore node_modules directory
node_modules/

# Ignore logs
logs/

# Ignore build artifacts
build/
dist/

# Ignore environment files
.env

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore editor specific files
.vscode/
.idea/

# Ignore npm debug log
npm-debug.log*

# Ignore yarn error log
yarn-error.log